// Local / HPC execution with a hybrid software strategy.
//   * most processes  -> main conda env
//   * RD_ANALYZER     -> isolated Python 2 conda env
//   * TBPROFILER      -> Singularity container (self-contained DB + Java + snpEff)

conda.enabled = true

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${projectDir}/../.apptainer_cache"
}

process {
    executor = 'local'

    conda = "${System.getenv('HOME')}/.conda/envs/mtbc-speciation"

    withName: 'RD_ANALYZER' {
        conda = "${System.getenv('HOME')}/.conda/envs/rd-analyzer-env"
    }

    withName: 'TBPROFILER' {
        conda     = null
        container = 'https://depot.galaxyproject.org/singularity/tb-profiler:6.6.6--pyhdfd78af_0'
    }
}
